{% set postgres_password = "Ch4nG3_m3!" %}

{% set allow_registration = false %}
{% set registration_secret = "Secret registration token" %}

{% set display_domain = 'domain.tld' %}
{% set certificate_domains = ['custom.domain.tld', 'matrix.domain.tld', 'chat.domain.tld'] %}
{# list of [client, server, element, .well-known/acme-challenge, .well-known/matrix] #}
{% set domain_masks = {
  "matrix.domain.tld": (true, true, true, true, false),
  "chat.domain.tld": (false, false, true, true, false),
  "hathi.domain.tld": (false, false, false, true, false)
} %}
{% set homeserver_url = "https://matrix.domain.tld" %}
{% set identity_server_url = "https://vector.im" %}
{% set federation_url = homeserver_url %}
{% set element_url = "https://chat.domain.tld" %}

{% set webmaster_email = "webmaster@domain.tld" %}

{% set domain_name = "domain.tld" %}
{% set certbot_arch = "arm64v8-" %}

{% set certbot_staging = false %}
